.ref-bg{
    background-color: darkslategray;
}

.smlOnes{
    display: flex;
    flex-direction: column;

}

.imgContainer {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;

}


.refTitle{
    font-size: 600%;
    color: whitesmoke;
    padding-top: 15rem;
}