.weatherguide-bg {
    background-color:rgb(87, 43, 17);
    height: 70rem;
    color: whitesmoke;
}

.call{
   
    font-size: 125%;
}

.wStation{
    margin-top: 4rem;
    font-size: 125%;
}

.wStation > h4{
    margin-top: 4rem;
}

.form {
    margin-top: 2rem;
}

