.weatherguide-bg {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(87, 43, 17);
    height: 40rem;
    color: whitesmoke;
}

.call{
   
    font-size: 125%;
}

.wStation{
    margin-top: 4rem;
}

.form {
    margin-top: 2rem;
}

