.image-bg{
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bigImage{
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 720px;
    border: 1px solid white;
}

.image-des{
    color: whitesmoke;
    width: 720px;

}